.btn{
	display:inline-block;
	position:relative;
	z-index:6;
	& a{
		display:block;
		font-size:16px;
		font-weight:bold;
//		@include link(#fff, a);
		@include button(14, 35);
		@include radius(8px);
	}
	&.small{
		a{
			font-size:14px !important;
			@include button(3, 15);
		}
	}
	&.red{
		& a{
			@include button_color(#F44236, #F44236);
		}
	}
	&.black{
		& a{
			@include button_color(#000000, #000000);
		}
	}
}

