@font-face{
	font-family:"GraphikLCG";
	src:url("../fonts/GraphikLCG/GraphikLCG.eot");
	src:url("../fonts/GraphikLCG/GraphikLCG.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG.ttf") format("truetype"), url("../fonts/GraphikLCG/GraphikLCG.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
@font-face{
	font-family:"GothamPro";
	src:url("../fonts/GothamPro/GothamPro.eot");
	src:url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
@font-face{
	font-family:"GothamProLight";
	src:url("../fonts/GothamProLight/GothamProLight.eot");
	src:url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProLight/GothamProLight.woff") format("woff"), url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype"), url("../fonts/GothamProLight/GothamProLight.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
@font-face{
	font-family:"GraphikLCGLight";
	src:url("../fonts/GraphikLCGLight/GraphikLCGLight.eot");
	src:url("../fonts/GraphikLCGLight/GraphikLCGLight.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCGLight/GraphikLCGLight.woff") format("woff"), url("../fonts/GraphikLCGLight/GraphikLCGLight.ttf") format("truetype"), url("../fonts/GraphikLCGLight/GraphikLCGLight.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
@font-face{
	font-family:"GraphikLCGSemibold";
	src:url("../fonts/GraphikLCGSemibold/GraphikLCGSemibold.eot");
	src:url("../fonts/GraphikLCGSemibold/GraphikLCGSemibold.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCGSemibold/GraphikLCGSemibold.woff") format("woff"), url("../fonts/GraphikLCGSemibold/GraphikLCGSemibold.ttf") format("truetype"), url("../fonts/GraphikLCGSemibold/GraphikLCGSemibold.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
/*
@font-face{
	font-family:"GraphikLCG";
	src:url("../fonts/GraphikLCG/GraphikLCG.eot");
	src:url("../fonts/GraphikLCG/GraphikLCG.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG/GraphikLCG.woff") format("woff"), url("../fonts/GraphikLCG/GraphikLCG.ttf") format("truetype"), url("../fonts/GraphikLCG/GraphikLCG.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
@font-face{
	font-family:"GraphikLCG-Light";
	src:url("../fonts/GraphikLCG-Light/GraphikLCG-Light.eot");
	src:url("../fonts/GraphikLCG-Light/GraphikLCG-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GraphikLCG-Light/GraphikLCG-Light.woff") format("woff"), url("../fonts/GraphikLCG-Light/GraphikLCG-Light.ttf") format("truetype"), url("../fonts/GraphikLCG-Light/GraphikLCG-Light.svg#partnercondensedbold") format("svg"); font-weight:normal; font-style:normal;
}
*/