$font_main:"GraphikLCG", Arial, sans-serif;

$desktop-l:1460px;
$desktop-m:1200px;
$desktop-s:1030px;
$tablet-l:999px;
$tablet-mm:830px;
$tablet-m:768px;
$tablet-s:670px;
$mobile-l:590px;
$mobile-m:470px;
$mobile-s:370px;
$mobile-i:340px;
